<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title th:text="#{TitreHeadConsultation}">List des Consultation</title>

<link rel="stylesheet" type=" text/css" th:href="@{/css/style.css}"/>


</head>
<body>

      
    <div class="cabinet"> 
        <h4 th:text="#{Titre}"> </h4>
    </div>
    
<h3 th:text="#{TitreConsultation}"> <i class="fas fa-sticky-note"></i> Liste des Consultation </h3>
   

 <table>
 
 
 
 <tr> <th th:text="#{Date}">Date </th> <th th:text="#{Motif}">Motif </th>  <th th:text="#{Traitement}">Traitement </th> </tr> 
 
 
 <tr th:each ="t : ${listeConsultations}">
   
     <td th:utext="${t.Date_Consultation}"></td>
     <td  th:utext="${t.motif}">  </td>
     <td> 
            <ul >
               <li th:each ="l: ${t.ligneConsultations}">      <span  th:utext="${l.traitement.nom}">  </span>            </li>
           </ul>
           
     </td>
   
   
 </tr>
 
 </table>
 
 <script src="https://kit.fontawesome.com/0cb2cf5836.js" crossorigin="anonymous"></script>
</body>
</html>