<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>List des Patient</title>
<link rel="stylesheet" type=" text/css" th:href="@{/css/style.css}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="cabinet"> 
        <h4>Cabinet de Nesserine Touadi </h4>
    </div>
<h3> <ion-icon name="person"></ion-icon> Liste des Patients  </h3>

 <table>
 
 <tr> <th>Id  </th> <th>Nom  </th> <th>Prenom </th>  <th>Date Naissance </th> <th>Num Tel</th> <th>Adress </th>  <th colspan="2">Action </th></tr>

 
 <tr th:each ="t : ${liste}">
     <td  th:utext="${t.id}">  </td>
     <td th:utext="${t.nom}"></td>
     <td  th:utext="${t.prenom}">  </td>
     <td  th:utext="${t.dateNaissance}">  </td>
     <td  th:utext="${t.numeroTelephone}">  </td>
     <td  th:utext="${t.adresse}">  </td>
    
     
    <td>   
     
     <button class="btn" type="button">
        
      
         <ion-icon name="create-outline"></ion-icon>        
     </button> 
        </td>
        <td>
        
        <form th:action="@{'delete/'+${t.id}}" method="post">
                   
        <button class="btn" type="submit">
        
        
        <ion-icon name="trash"></ion-icon>
        
     </button>  
     
      </form>              
     </td>
 </tr>
 
 </table>
 
 <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>